<!DOCTYPE html>
    <html lang="en">
        <head>
          <!-- My CSS -->
          <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
          <script src="/static/myscript.js"></script> 
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <link rel="icon" href="data:,">
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
            <title>Chromatofast</title>
          </head>
          <body class='container-fluid'>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#"><b class="title1">C</b>hromatofast</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav> 
            <br /><br />
                      
            <div class="row">
                <div class="col-md-2">
                  <label for="TM">Dead time (min)</label>
                  <input type="float" class="form-control" placeholder="Tm" id ="TM">
                </div>
                <div class="col-md-2">
                  <label for="pics">Number of pics</label>
                  <input type="number" class="form-control" id="pics" name="pics" onchange="change2(this)" autofocus>
                </div>
                <div class="col-md-2">
                  <label for="Lg">Column length (mm)</label>
                  <input type="number" class="form-control" placeholder="Lg-col" id ="Lg">
                </div>
                <div class="col-md-2">
                  <label for="Lg">Noise heigth (mm)</label>
                  <input type="number" class="form-control" placeholder="mm" id ="Noise">
                </div>
            </div>
           
            <br />
            <div class="row" class="terminology">
              <div class="col-md-3 terminology">
                <p><b>h</b>: hight of the pic</p>
                <p><b>TRr</b>: reduced retention time</p>
                <p><b><font face="Symbol, serif">&delta;</font></b>: pic width at mid-hight</p>
              </div>
              <div class="col-md-3 terminology" >
                <p><b>LOD</b>: limit of detection</p>
                <p><b>LOQ</b>: limit of quantification</p>
                <p><b>N</b>: number of plates</p>
              </div>
              <div class="col-md-3 terminology">
                <p><b>R</b>: resolution</p>
                <p><b>Tr</b>: retention time</p>
                <p><b>C</b>: concentration of injected compound</p>
              </div>
              <div class="col-md-3 terminology">
                <p><b>K'</b>: retention factor</p>
                <p><b><font face="Symbol, serif">&alpha;</font></b>: selectivity</p>
              </div>
              </div>
            <table class="table table-light table-striped">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" style="color: rgb(76, 102, 252);">n°<p class = "units"></p></th>
                    <th scope="col" style="color: rgb(76, 102, 252);">TR<p class = "units"> (mins)</p></th>
                    <th scope="col" style="color: rgb(76, 102, 252);">C <p class = "units">(mg/L)</p></th>
                    <th scope="col" style="color: rgb(76, 102, 252);">h <p class = "units">(mm)</p></th>
                    <th scope="col" style="color: rgb(76, 102, 252);"><font face="Symbol, serif">&delta;</font><p class = "units">(mm)</p></th>
                    <th scope="col" style="color: rgb(76, 102, 252);">TRr<p class = "units">(mins)</p></th>
                    <th scope="col" style="color: rgb(76, 102, 252);">K'<p class = "units"></p></th>
                    <th scope="col" style="color: rgb(76, 102, 252);">LOD<p class = "units">(mg/L)</p></th>
                    <th scope="col" style="color: rgb(76, 102, 252);">LOQ<p class = "units">(mg/L)</p></th>
                    <th scope="col" style="color: rgb(76, 102, 252);"><font face="Symbol, serif">&alpha;</font><p class = "units"></p></th>
                    <th scope="col" style="color: rgb(76, 102, 252);">R<p class = "units"></p></th>
                    <th scope="col" style="color: rgb(76, 102, 252);">N<p class = "units"></p></th>                   
                    <th scope="col" style="color: rgb(76, 102, 252);">N<p class = "units">(purnell)</p></th>
                    <th scope="col" style="color: rgb(76, 102, 252);">HEPT<p class = "units"></p></th>
                  </tr>
                </thead>
                <tbody id ="tbody">
              
                </tbody>
              </table>

    <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="/static/myscript.js"></script> 

    </body>
    </html>
   