<!DOCTYPE html>
    <html lang="en">
        <head>
          <!-- My CSS -->
          <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
          <script src="/static/myscript.js"></script> 
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <link rel="icon" href="data:,">
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
            <title>Chromatofast</title>
          </head>
          <body class='container-fluid'>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#"><b class="title1">C</b>hromatofast</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Documentation
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Theorie</a>
                      <a class="dropdown-item" href="#">references and links</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">credit</a>
                    </div>
                  </li>
                </ul>
              </div> 
            </nav> 
            <br /><br />
                      
            <div class="row">
                <div class="col-md-2">
                  <label for="TM">Dead time (min)</label>
                  <input type="float" class="form-control" placeholder="Tm" id ="TM">
                </div>
                <div class="col-md-2">
                  <label for="pics">Number of pics</label>
                  <input type="number" class="form-control" id="pics" name="pics" onchange="change2(this)">
                </div>
                <div class="col-md-2">
                  <label for="Flow">Flow rate (ml/min)</label>
                  <input type="float" class="form-control" placeholder="Flow" id ="Débit">
                </div>
                <div class="col-md-2">
                  <label for="Lg">Column length (mm)</label>
                  <input type="number" class="form-control" placeholder="Lg-col" id ="Lg">
                </div>
                <div class="col-md-2">
                  <label for="Lg">Noise heigth (mm)</label>
                  <input type="number" class="form-control" placeholder="mm" id ="Noise">
                </div>
            </div>
           
            <br />
            <p> Enter the values of the retention time (Tr) et their width at mid-hight of the pics you want to analyse             </p>
            <table class="table table-striped table-dark">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" style="color: rgb(252, 76, 76);">Pic n°</th>
                    <th scope="col" style="color: rgb(252, 76, 76);">TR (mins)</th>
                    <th scope="col" style="color: rgb(252, 76, 76);">C (mg/L)</th>
                    <th scope="col" style="color: rgb(252, 76, 76);">h (mm)</th>
                    <th scope="col" style="color: rgb(252, 76, 76);">Alpha (mm)</th>
                    <th scope="col" style="color: rgb(252, 76, 76);">TRrv (mins)</th>
                    <th scope="col" style="color: rgb(252, 76, 76);">K'</th>
                    <th scope="col" style="color: rgb(252, 76, 76);">LOD (mg/L)</th>
                    <th scope="col" style="color: rgb(252, 76, 76);">LOQ (mg/L)</th>
                    <th scope="col" style="color: rgb(252, 76, 76);">N</th>
                    <th scope="col" style="color: rgb(252, 76, 76);">S</th>
                    <th scope="col" style="color: rgb(252, 76, 76);">HEPT</th>
                    <th scope="col" style="color: rgb(252, 76, 76);">Resolution</th>
                  </tr>
                </thead>
                <tbody id ="tbody">
              
                </tbody>
              </table>

    <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="/static/myscript.js"></script> 

    </body>
    </html>
   